@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  background-color: rgb(51, 55, 64);
}

.container {
  margin: 80px auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-content span {
  margin-bottom: 5vh;
  font-family: 'Encode Sans Condensed', Arial, Helvetica, sans-serif;
  color: #ddd;
  font-size: 1.3rem;
}

.data-titulo {
  float: right;
  padding: 0 10px;
}

.list-checked:hover {
  color: rgb(99, 166, 78)
}

.list-unchecked:hover {
  color: rgb(239, 192, 47);
}

.no-content {
  color: rgba(221, 221, 221, 0.288);
  text-align: center;
  padding: 30px;
}

.content {
  width: 100%;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.content input {
  border: 0;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.input-content form {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-content input.item-novo {
  width: 90%;
  color: #ddd;
  background-color: rgb(46, 45, 51);
  font-weight: 700;
  font-family: 'Encode Sans Condensed', Arial, Helvetica, sans-serif;
}

.btn {
  border: 0;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  background-color: gray;
}

.btn.btn-ok {
  color: white;
  background-color: rgb(113, 70, 197);
  font-weight: 700;
}

.btn-ok:hover {
  background-color: rgb(120, 53, 151);
}